<!DOCTYPE html>
<html ng-app="pokemon">
<head>
  <meta charset="UTF-8">
  <title>Jimmy Lewis | Pokémon Guide</title>

  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="styles.css">


</head>
<body ng-controller="mainCtrl">

<!--Begin Header-->
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">JL</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="about-me.html">About Me</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Career<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="web-dev.html">Web-Dev</a></li>
            <li><a href="work-history.html">Work History</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--End Header-->

<div class="title-logo">
  <img src="/images/pokemon-logo.png">
</div>
<div class="poke-search-container">
  <input class="poke-search" ng-model="search" type="text" placeholder="Find a Pokémon...">
  <div class="search-button" ng-click="searchInit()">Search</div>
</div>
{{test}}
<div class="poke-slider">
  <div class="slider-pikachu">
    <img src="https://s3.amazonaws.com/pokemontcg/base6/86.jpg">
  </div>
  <div class="slider-blastoise">
    <img src="https://s3.amazonaws.com/pokemontcg/base1/2.jpg">
  </div>
  <div class="slider-mewtwo">
    <img src="https://s3.amazonaws.com/pokemontcg/base1/10.jpg">
  </div>
  <div class="slider-eevee">
    <img src="https://s3.amazonaws.com/pokemontcg/base6/74.jpg">
  </div>
  <div class="slider-electabuzz">
    <img src="https://s3.amazonaws.com/pokemontcg/base1/20.jpg">
  </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"></script>
<script src="js/app.js"></script>
<script src="js/mainCtrl.js"></script>
<script src="js/mainService.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
    $('.poke-slider').slick({
      centerMode: true,
      centerPadding: '0',
      arrows: true,
      slidesToShow: 3,
      slidesToScroll: 1,
      focusOnSelect: true,
      autoplay: true,
      autoplaySpeed: 2000
    });
  });
</script>


</body>
</html>
