/*INDEX.HTML*/

.page-header {
    padding-bottom: 0px;
    margin: 5px 0 20px;
    border-bottom: 1px solid #eee;
}

.navbar-brand {
    font-family: 'Shadows Into Light Two', cursive;
}

.picture {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}

.profile-pic{ 
    width: 300px;
    height: auto;
    border-radius: 20px;
}

#name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.fa {
    padding: 5px;
}

a {
    color: black;
}

a:link, a:visted, {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: #C9C4C6;
}

a:active {
    text-decoration: none;
    color: black;
}

#links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%
}

.name {
    font-family: 'Kaushan Script', cursive;
    font-size: 23px;
    font-weight: 300;
    width: 120px;
    height: 30px;
}

#slogan {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogan {
    font-family: 'Calligraffitti', cursive; 
}

.quote {
    font-family: sans-serif;
    font-size: 10px;
    position: fixed;
    padding-left: 3px;
    bottom: 0;
}

/*ABOUT-ME.HTML*/

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}

#description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
}





