/*INDEX.HTML*/

/*Default Header*/
.page-header {
    padding-bottom: 0px;
    margin: 5px 0 20px;
    border-bottom: 1px solid #eee;
}

.navbar-brand {
    font-family: 'Shadows Into Light Two', cursive;
}

.picture {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}

.profile-pic{ 
    width: 300px;
    height: auto;
    border-radius: 20px;
}

#name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.fa {
    padding: 5px;
}

a {
    color: black;
}

a:link, a:visted {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: #C9C4C6;
}

a:active {
    text-decoration: none;
    color: black;
}

#links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    font-family: 'Kaushan Script', cursive;
    font-size: 23px;
    font-weight: 300;
    width: 120px;
    height: 30px;
}

#slogan {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogan {
    font-family: 'Calligraffitti', cursive; 
}

.quote {
    font-family: sans-serif;
    font-size: 10px;
    position: relative;
    padding-left: 3px;
    bottom: 0;
}

/*ABOUT-ME.HTML*/

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}

#description {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 760px;
    padding: 8px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
}

.sj-quote, .disney-quote, .rumi-quote {
    font-size: 10px;
    padding-left: 3px;
    position: absolute;
    bottom: 0;
}

/*HOBBIES.HTML*/


/*WEB-DEV.HTML*/

.resume-container {
    display: flex;
    flex-direction: column;
    padding: 60px 10% 0 10%;
    align-content: center;
}

.weave {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*.weave-logo-container {*/
    /*height: 70px;*/
    /*width: 210px;*/
    /*background: #27ace3;*/
    /*border-radius: 3px;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
/*}*/

#weave-logo {
    display: flex;
    height: auto;
    width: 200px;
}

.resume-p-weave, .resume-p-byui, .resume-p-devmtn,
.resume-p-hend{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.resume-p-weave, .resume-p-devmtn, .resume-p-hend {
    padding-top: 8px;
}

.resume-p-byui {
    margin-top: -20px;
}

.strong-label {
    font-weight: 800;
}

.dev-mountain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

#devmtn {
    display: flex;
    height: auto;
    width: 260px;
}

/*WORK-HISTORY.HTML*/

.weave-onboarding, .byui, .city-hend {
    display: flex;
    flex-direction: column;
/*    padding-top: 50px;*/
}

.weave-onboarding, .byui, .city-hend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.byui {
    padding-top: 5px;
}

#byui {
    width: 200px;
    height: auto;
}

#henderson {
    display: flex;
    width: 200px;
    height: auto;
    margin-top: 30px;
}

.city-hend {
    margin-bottom: 50px;
}

.city-hend .resume-p {
    padding-top: 60px;
}

@media (max-width: 750px) {
    .page-header {
        display: none;
    }
}

@media (max-width: 750px) {
    .weave, .dev-mountain {
        justify-content: center;
        align-items: center;
    }
    .resume-p {
        padding-top: 8px;
    }
}