/*INDEX.HTML*/

/*Default Header*/
.page-header {
    padding-bottom: 0px;
    margin: 5px 0 20px;
    border-bottom: 1px solid #eee;
}

.navbar-brand {
    font-family: 'Shadows Into Light Two', cursive;
}

.picture {
    background: url("images/picture-2.jpg") 50% 50% no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    height: 400px;
}

.profile-pic{ 
    width: 300px;
    height: auto;
    border-radius: 20px;
}

#name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.fa {
    padding: 5px;
}

a {
    color: black;
}

a:link, a:visted {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: #C9C4C6;
}

a:active {
    text-decoration: none;
    color: black;
}

#links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    font-family: 'Kaushan Script', cursive;
    font-size: 23px;
    font-weight: 300;
    width: 120px;
    height: 30px;
}

#slogan {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogan {
    font-family: 'Calligraffitti', cursive; 
}

.quote {
    font-family: sans-serif;
    font-size: 10px;
    position: absolute;
    padding-left: 3px;
    bottom: 0;
}

/*ABOUT-ME.HTML*/

.main-container {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    margin-top: 5%;
}

.family-picture {
    background: url("images/family-picture.jpg") 50% 50% no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    height: 350px;
}

#description {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 760px;
    padding: 8px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
}

.sj-quote, .disney-quote, .rumi-quote {
    font-size: 10px;
    padding-left: 3px;
    position: absolute;
    bottom: 0;
}

/*HOBBIES.HTML*/


/*WEB-DEV.HTML*/

.resume-container {
    display: flex;
    flex-direction: column;
    padding: 60px 10% 0 10%;
    align-content: center;
}

.weave {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*.weave-logo-container {*/
    /*height: 70px;*/
    /*width: 210px;*/
    /*background: #27ace3;*/
    /*border-radius: 3px;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
/*}*/

#weave-logo {
    display: flex;
    height: auto;
    width: 200px;
}

.resume-p-weave, .resume-p-byui, .resume-p-devmtn,
.resume-p-hend{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.resume-p-weave, .resume-p-devmtn, .resume-p-hend {
    padding-top: 8px;
}

.resume-p-byui {
    margin-top: -20px;
}

.strong-label {
    font-weight: 800;
}

.dev-mountain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

#devmtn {
    display: flex;
    height: auto;
    width: 260px;
}

/*WORK-HISTORY.HTML*/

.weave-onboarding, .byui, .city-hend {
    display: flex;
    flex-direction: column;
/*    padding-top: 50px;*/
}

.weave-onboarding, .byui, .city-hend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.byui {
    padding-top: 5px;
}

#byui {
    width: 200px;
    height: auto;
}

#henderson {
    display: flex;
    width: 200px;
    height: auto;
    margin-top: 30px;
}

.city-hend {
    margin-bottom: 50px;
}

.city-hend .resume-p {
    padding-top: 60px;
}

/*iPhone 6*/
@media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2){

    .navbar {
        margin-bottom: 0px !important;
    }
    .navbar-toggle {
        width: 50px;
        height: 50px;
        margin-top: 25px;
    }

    .icon-bar {
        width: 29px !important;
        height: 3px !important;
    }

    .name {
        font-size: 30px;
        width: 153px;
        margin-bottom: 5%;
    }

    .slogan {
        font-size: 18px;
    }

    .fa {
        font-size: 25px;
        padding: 20px;
    }

    .page-header {
        display: none;
    }

    .navbar-brand {
        font-size: 35px;
        margin: 24px 0;
    }

    .picture, .family-picture {
        background-size: cover;
        margin-top: 18%;
        height: 250px;
    }

    .description {
        margin-top: 15%;
        font-size: 17px;
    }

    .byui {
        padding-top: 0px;
        margin-top: -15px;
    }

    #weave-logo, #byui, #henderson {
        width: 175px;
    }

    .city-hend {
        margin-top: -15px;
    }

    .resume-container {
        padding: 5% 10% 0 10%;
    }

    .resume-p-weave {
        padding-top: 8%;
    }

    .resume-p-byui, .resume-p-weave, .resume-p-hend {
        font-size: 11px;
    }

    .resume-p-hend {
        padding-top: 8%;
    }

    .rumi-quote, .sj-quote, .quote {
        font-size: 10px;
    }

}

@media (max-width: 750px) {
    .weave, .dev-mountain {
        justify-content: center;
        align-items: center;
    }
    .resume-p {
        padding-top: 8px;
    }
}